/* main.css - Maxmilian Schiller 2020 */
html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: #000;
    background-color: #fff;
}

.app {
  margin: auto;
  max-width: 600px;
  padding: 10px;
  text-align: center;
}

.description{
  max-width: 500px;
  margin: auto;
}

a{
  text-decoration: none;
  color: rgb(39, 117, 180);
}

.description p{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.form {
  margin: 1rem;
}

.form button{
    display: inline-block;
    background: rgb(39, 117, 180);
    color: inherit;
    font: inherit;
    font-size: 16px;
    border: 0;
    outline: 0;
    padding: 0;
    cursor: pointer;
    color: #fff;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    padding: 12px 36px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-top: 1rem;
}

.status{
  margin: auto;
  max-width: 600px;
  padding: 10px;
}

.status h1{
 text-align: center;
}

.status p {
  margin: 0.5rem;
}

#flag {
    width: 300px;
    height: 180px;
    border: 2px solid black;
    display: inline-block;
  }
  * {
    user-select: none;
  }
  .pixel {
    width: 20px;
    height: 20px;
    float: left;
    margin: 0;
    padding: 0;
    background: white;
  }
  #colselect {
    display: inline-block;
    border: 2px solid black;
    width: 20px;
    height: 180px;
  }
  #colselect span {
    float: left;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    background: red;
  }
  /* setting colors in js didnt work so I produced this shitshow */
  #orange {
    background: orange!important;
  }
  #yellow {
    background: yellow!important;
  }
  #green {
    background: forestgreen!important;
  }
  #blue {
    background: blue!important;
  }
  #light {
    background: rgb(88, 154, 240)!important;
  }
  #indigo {
    background: indigo!important;
  }
  #violet {
    background: violet!important;
  }
  #white {
    background: white!important;
  }
  #black {
    background: black!important;
  }